ITS_API_KEY=input_your_its_api_key_here
KAKAO_REST_API_KEY=여기에 KAKAO_REST_API_KEY를 입력하세요
POSTGRES_HOST=aws-0-ap-south-1.pooler.supabase.com
POSTGRES_PORT=5432
POSTGRES_USER=postgres.dttxevictryawhnlpcys
POSTGRES_PASSWORD=input_your_postgres_password_here
POSTGRES_DB=postgres
POSTGRES_SSLMODE=require

# POSTGRES_HOST=db.dttxevictryawhnlpcys.supabase.co
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=xkfksths96!
# POSTGRES_DB=postgres
#POSTGRES_SSLMODE=require