ITS_API_KEY=INPUT_YOUR_ITS_API_KEY_HERE

# POSTGRES_HOST=aws-0-ap-southeast-2.pooler.supabase.com
# POSTGRES_PORT=6543
# POSTGRES_USER=postgres.ipibshcsnmxgfiyomjn
# POSTGRES_PASSWORD=xkfksths96!
# POSTGRES_DB=postgres
# POSTGRES_SSLMODE=require

POSTGRES_HOST=db.dttxevictryawhnlpcys.supabase.co
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=INPUT_YOUR_POSTGRES_PASSWORD_HERE
POSTGRES_DB=postgres
POSTGRES_SSLMODE=require